@import "tailwindcss";

@theme {
    --color-primary: #2c3e50;
    --color-secondary: #34495e;
    --color-accent: #3498db;
}

@layer base {
    body {
        @apply bg-gray-50 text-gray-900;
    }
}